{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create event</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
    <main>
        <div>
            {% if event_form.errors %}  </form>
                <ul class="errorlist">  </form>
                    {% for field, errors in event_form.errors.items %}  </form>
                        {% for error in errors %}  </form>
                            <li>{{ field|capfirst }}: {{ error }}</li>  </form>
                        {% endfor %}  </form>
                    {% endfor %}  </form>
                </ul>  </form>
            {% endif %}  </form>
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 {% if message.tags == 'success' %}bg-green-500{% endif %} ">{{message}}</div>
                {% endfor %}
            {% endif %}
        </div>
        <form enctype='multipart/form-data' method="post" class="max-w-2xl mx-auto p-6 bg-white rounded-lg shadow-lg">
            {% csrf_token %}
            
            <h2 class="text-2xl font-semibold text-gray-700 mb-4">Create Event</h2>
            
            <div class="space-y-4">
                {{event_form.as_p}}
            </div>
        
            <button type="submit" class="mt-4 w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 transition">
                Submit
            </button>
        </form>
    </main>
</body>
</html>