<header class="py-4 px-6">
    <div class="container mx-auto flex justify-between items-center">
        <div class="font-bold text-xl">Event Management</div>
        <nav class="space-x-4 text-sm flex">
            <a href="{% url "home" %}" class="hover:text-gray-600">Home</a>
            <a href="{% url "profile" %}" class="hover:text-gray-600">Profile</a>
            <a href="{% url "admin-dashboard" %}" class="hover:text-gray-600">Dashboard</a>
            <a href="{% url "organizer_dashboard" %}" class="hover:text-gray-600">Events</a>
            <a href="{% url "create-event" %}" class="hover:text-gray-600">Create Event</a>
            <form action="{% url "logout" %}" method="POST" class="w-fit">
                {% csrf_token %}
                <button type="submit" class="hover:text-gray-600">logout</button>
            </form>
        </nav>
    </div>
</header>