{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body>
    <h1>Welcome Home</h1>
    <div class="user">
        <h2>User info</h2>
        <p>Name: {{user.username}}</p>
    </div>
    <form action="{% url "logout" %}" method="POST">
        {% csrf_token %}
        <button class="bg-red-400 p-2 rounded" type="submit">Logout</button>
    </form>
</body>
</html>